[submodule "dotbot-firmware"]
	path = dotbot-firmware
    url = https://github.com/DotBots/dotbot-firmware
    branch = adapt_to_swarmit
[submodule "mira"]
	path = mira
	url = https://github.com/DotBots/mira
